
/*.app-wrapper{*/
/*    !*display: flex;*!*/
/*    align-items: center;*/
/*    !*justify-content: center;*!*/

/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 20px;*/
/*    width: 100%;*/
/*    padding-bottom: 200px;*/
/*    border-bottom: 1px solid #d3d3d3;*/
/*    border-top: 1px solid #d3d3d3;*/
/*}*/
/*.hwTitle {*/
/*    font-size: 2rem;*/
/*    padding: 10px 50px;*/
/*    line-height: 26px;*/
/*    font-weight: 700;*/
/*}*/
.App {
    --header_height: 60px;
}
.desk{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    padding-bottom: 200px;
    border-top: 20px;
}
.hw {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 200px;
    border-bottom: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
}

.hwTitle {
    font-size: 2rem;
    padding: 10px 50px;
    line-height: 26px;
    font-weight: 700;
}

.hw1 {
    width: 100%;
    margin:0 auto;
}
.Board{
    position: relative;
    width: 1280px;
    height: 720px;
}
